<div data-ng-controller="UserController" data-ng-init="getAllUsers()">
  <div class="progressbar-heading grids-heading">
    <h2>รายชื่อผู้ใช้งานในระบบ</h2>
  </div>
  <div class="panel panel-widget">
    <div class="row">
        <div class="col-md-12">
          <a href="#!/user/add" class="hvr-bounce-to-right pull-right">เพิ่มผู้ใช้งาน</a>
        </div>
    </div>
    <div class="tables">
      <h4>&nbsp;</h4>
      <table class="table table-bordered" data-ng-show="users">
        <style>
          .table.table-bordered th,.table.table-bordered td{
            text-align: center;
          }
          .table.table-bordered thead tr:first-child th{
            background-color: #efe5e5;
          }
        </style>
        <thead>
          <tr>
            <th>#</th>
            <th>userid</th>
            <th>username</th>
            <th>email</th>
            <th>postion</th>
            <th>Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr  ng-repeat="user in users">
            <th scope="row">{{$index+1}}</th>
            <td>{{user.user_id}}</td>
            <td>{{user.user_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.position}}</td>
            <td>
              <!--a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Dropdown <span class="caret"></span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                  <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">แก้ไข</a></li>
                  <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">ลบ</a></li>
                </ul>
              </a-->
              <div class="btn-group">
                <button type="button" class="btn btn-danger">เลือก</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">แก้ไข</a></li>
                  <li><a href="#" ng-click="deleteUserModal(user)">ลบ</a></li>
                </ul>
              </div>



            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/ng-template" id="myModalContent">
      <div class="modal-header">
          <h3 class="modal-title">ข้อความ</h3>
      </div>
      <div class="modal-body">
          <h1>คุณแน่ใจที่จะลบ {{user_id}} ใช่หรือไม่</h1>
      </div>
      <div class="modal-footer">
          <a class="btn btn-primary" type="button" ng-click="ok()" >ตกลง</a>
      </div>
  </script>
</div>
